#ytblogo{
    height: 60px;
}


#searchbar{
    justify-content: center;
    margin-left: 50px;
}

#uploadvid{
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 180px;
}

#uploadvid:hover{
    background-color: rgb(95, 95, 95);
    border-radius: 25px;
}

#notis{
    color: white;
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

#notis:hover{
    background-color: rgb(95, 95, 95);
    border-radius: 25px;
}

#channelbanner{
    display: inline-flex;
    height: 200px;
    margin-top: 20px;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.banner-div{
    display: inline-flex;
    margin-top: 20px;
    width: 90%;
     margin-left: 5%;
    border-radius: 50px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.subsdiv{
    display: flex;
    font-size: 14pt;
}

#subname{
    font-size: 24pt;
}

#sublogo{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 10px;
    
}

.subinfo{
    margin-top: 30px;
}

#subbutton{
    background-color: rgb(38, 38, 38);
    color: white;
    margin-top: 10px;
    width: 200px;
    border-radius: 50px;
}

#subbutton:hover{
    background-color: rgb(93, 93, 93);
}

.nav-link:hover{
    text-decoration: underline;
}

.container-videos{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container-videoctgry{
    margin-left: 30px;
}

.container-fluid1{
    margin-left: 20px;
}

iframe{
    width: 250px;
    /* height: 200px; */
}

.viewall{
    margin-left: 40%;
    color: violet;
}




@media (max-width:600px){

    #ytblogo{
        height: 30px;
    }

    #channelbanner{
        margin-left: 0%;
        width: 60%;
        height: 100px;
    }

    .banner-div{
        width: 90%;
        height: 130px;
        border-radius: 20px;
    }

    #sublogo{
        display: flex;
        margin-left: 0px;
        height: 100px;
        width: 100px;
        border-radius: 50px;
    }


    #searchbar{
        display: none;
        width: 10px;
        margin-left: 0px;
        margin-right: 20px;
        float: left;
    }

    .container-fluid1{
        display: inline-flex;
        /* background-color: red; */
    }

    .container-videoctgry{
        margin-left: 5px;
        margin-right: 5px;
    }

    .container-videos{
        display: block;
        gap: 20px;
        margin-bottom: 10px;
        margin-left: 25px;
        justify-content: center;
        align-items: center;
    }

    #subname{
        margin-top: -10px;
        font-size: 12pt;
    }

    .subsdiv{
        margin-top: 10px;
        font-size: 8pt;
    }

    .navbar-nav{
        width: 10%;
    }

    #searchicon{
        display: none;
    }

    .subinfo{
        margin-top: 20px;
    }

    .viewall{
        
        margin-left: 10%;
    }

    #uploadvid{
        height: 30px;
        width: 30px;
        margin-left: -10px;
    }

    #notis
    {
        height: 30px;
        width: 30px;
    }


}